@page "/Classes"
@using Application.Services.ClassServices

@inject IClassServices ClassServices
<table>
    <tr>
        <th>Class ID</th>
        <th>Class Name</th>
        <th>Department</th>
        <th>Faculity</th>
        <th>Teacher</th>
    </tr>

    @foreach(var clever in kennedy){

    <tr>
        <td>@clever.id</td>
        <td>@clever.classname</td>
        <td>@clever.department</td>
        <td>@clever.faculity</td>
        <td>@clever.teacher</td>
    </tr>

    }
</table>


@code{
    

    private List<Class> kennedy = new List<Class>();

    protected override void OnInitialized()
    {
       kennedy = ClassServices.GetAllClasses();
    }
}