@page "/Classes"
@using Application.Services.ClassServices
@using Domain.Entities
@inject NavigationManager navigation 
@rendermode InteractiveServer

@inject IClassService ClassService

<a href="/Classes/Add" class="btn btn-primary mt-3">Add Class</a>
<table class="table">
    <tr>
        <th>Class ID</th>
        <th>Class Name</th>
        @* <th>Department</th>
        <th>Faculity</th> *@
        <th>Teacher</th>
        <th>Actions</th>
    </tr>

    @foreach(var clever in kennedy){

    <tr>
        <td>@clever.id</td>
        <td>@clever.classname</td>
        @* <td>@clever.department</td>
        <td>@clever.FacultyId</td> *@
        <td>@clever.teacher</td>
          <td>
            <a href="#" class="btn btn-primary mt-3">View Details</a>
            @* <a href="/Students/@student.Id" class="btn btn-primary">Update</a>
            <a href="/Students/@student.Id" class="btn btn-danger ml-2">Delete</a> *@
        </td>
    </tr>

    }
</table>


@code{
    

    private List<Class> kennedy = new List<Class>();

    protected override void OnInitialized()
    {
       kennedy = ClassService.GetAllClasses();
    }
}
