@page "/Students"
@using Application.Services.StudentServices;
@using Domain.Entities

@inject IStudentService StudentService


<h1>Students</h1>

<table>

    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Sex</th>
        <th>DateOfBirth</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Reg Number</th>
        <th>Address</th>
        <th>Mother's Name</th>
        <th>Father's Name</th>
        <th>Mother's Phone</th>
        <th>Father's Phone</th>
        <th>User Added</th>
        <th>Date Added</th>

    </tr>


    @foreach(var student in students){

    <tr>
        <td>@student.Id</td>
        <td>@student.Name</td>
        <td>@student.Sex</td>
        <td>@student.DateOfBirth</td>
        <td>@student.Phone</td>
        <td>@student.Email</td>
        <td>@student.RegNumber</td>
        <td>@student.Address</td>
        <td>@student.MotherName</td>
        <td>@student.FatherName</td>
        <td>@student.MotherPhone</td>
        <td>@student.FatherPhone</td>
        <td>@student.UserAdded</td>
        <td>@student.DateAdded</td>
    </tr>
    }
</table>


@code{

    private List<Student> students = new List<Student>();

    protected override void OnInitialized()
    {
        students = StudentService.GetAllStudent();
    }
}