@page "/Students"
@using Application.Services.StudentServices;
@using Domain.Entities
@using Application.DTOs

@inject IStudentService StudentService


<h1>Students</h1>

<a href="/Students/add" class="btn btn-primary mt-3">Add Students</a>
<table class="table">

    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Sex</th>
        <th>DateOfBirth</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Reg Number</th>
        @* <th>Address</th>
        <th>Mother's Name</th>
        <th>Father's Name</th>
        <th>Mother's Phone</th>
        <th>Father's Phone</th>
        <th>User Added</th>
        <th>Date Added</th> *@
        <th>Status</th>
        <th>Actions</th>

    </tr>


    @foreach(var student in students){

    <tr>
        <td>@student.Id</td>
        <td>@student.Name</td>
        <td>@student.Sex</td>
        <td>@student.DateOfBirth</td>
        <td>@student.Phone</td>
        <td>@student.Email</td>
        <td>@student.RegNumber</td>
        @* <td>@student.Address</td>
        <td>@student.MotherName</td>
        <td>@student.FatherName</td>
        <td>@student.MotherPhone</td>
        <td>@student.FatherPhone</td>
        <td>@student.UserAdded</td>
        <td>@student.DateAdded</td> *@
        <td>@student.Status</td>
        <td>
            <a href="/Students/@student.Id" class="btn btn-primary mt-3">View Details</a>
            @* <a href="/Students/@student.Id" class="btn btn-primary">Update</a>
            <a href="/Students/@student.Id" class="btn btn-danger ml-2">Delete</a> *@
        </td>
    </tr>
    }
</table>


@code{

    private List<GetStudentDTO> students = new List<GetStudentDTO>();

    protected override void OnInitialized()
    {
        students = StudentService.GetAllStudent();
    }

    
}